body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background: #e0f7f7;
    color: #00796b;
}
h2 {
    text-align: center;
    color: #004d40;
}
.aisle {
    margin-bottom: 10px;
}
.aisle h3 {
    margin: 5px 0;
    background: #80cbc4;
    padding: 5px;
    border-radius: 5px;
    color: #004d40;
}
.item {
    display: flex;
    align-items: center;
    padding: 5px;
    background: #b2dfdb;
    margin-bottom: 5px;
    margin-left: 15px;
    color: #000000
}
.item input {
    margin-right: 10px;
}
.bought {
    text-decoration: line-through;
    color: #004d40;
    background: #e0f2f1;
}
#bought-list {
    margin-top: 20px;
    padding: 10px;
    background: #b2dfdb;
    border-radius: 5px;
    color: #004d40;
}
form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;          
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}
form input, form button {
    padding: 10px;
    border: 1px solid #00796b;
    border-radius: 5px;
    font-size: 1em;
    flex: 1 1 auto;          
    min-width: 100px;        
}
form button {
    background-color: #00796b;
    color: white;
    cursor: pointer;
    flex: 0 0 auto;          
}

form button:hover {
    background-color: #004d40;
}
